* {
	font-family: 'Raleway', sans-serif;
}

/* don't carry uppercase into hint.css hints */
[data-hint]:after {
  text-transform: none;
  white-space: pre;
}

[data-hint] {
  z-index: 10 !important; /* hints always on top */
}

.modal-content {
  z-index: 11 !important; /* modals on top of the hints */
}

/** Slider */
.slider.slider-horizontal {
  width: 90% !important;
}

.slider-selection {
  background: #414141;
}

.min-slider-handle, .max-slider-handle {
  background: #414141;
}

.slider-track-low, .slider-track-high {
  /* background: #BABABA; */
}

.main {
	padding-top: 70px;
}

.main-row {
  padding-top: 70px;
}

.main-top-padding {
  padding-top: 10px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-25px {
  margin-top: 25px;
}

.no-left-padding {
  padding-left: 0;
}

.no-padding {
  padding: 0;
}

.min-padding-right {
  padding-right: 5px;
}

.min-padding-left {
  padding-left: 5px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.btn-wide {
  width: 100%;
  margin-bottom: 1px;
}

.full-width {
  width: 100%;
}

.padding-20px {
  padding-bottom: 20px;
}

.btn-in-heading {
  margin-top: -1px;
}

.text-center {
  text-align: center;
}

/* Keeps btn-inverse font black at all times, instead of changing to white which is hard to read */
.btn-inverse:hover, .btn-inverse:active, .btn-inverse:focus {
  color: #000;
}

.btn:focus {
    outline-width: 0 !important;
}

.textarea-no-resize {
  resize: none;
}

.span-error {
  color: red;
}

.span-success {
  color: green;
}

.span-highlight {
  color: orange;
}

/**
 * Modal stuff: progress modal, edit globals modal, etc
 */
#progress-modal {
  top: 35%;
  text-align: center;
}

#confirmation-modal, #scenario-detail-modal, #edit-custom-settings-modal {
  top: 25%;
}

@media screen and (min-width: 768px) {
    .edit-globals-modal-dialog {
        width: 75%; /* either % (e.g. 60%) or px (400px) */
    }
}

#edit-custom-inputs-modal {
  top: 5%;
}

@media screen and (min-width: 768px) {
    .edit-custom-inputs-modal-dialog {
        width: 60%;
    }
}

/**
 * Simulation progress
 */
#simulation-progress-bar {
  width: 0%;
}

/**
 * Divs containing charts
 */
div[id*='chart-'] {
  /** Chart positionings absolute except for base-chart */
  position: absolute;
  /** Make them invisible to start with */
  visibility: hidden;
}
div[id*='base-chart-'] {
  position: relative;
}

#chart-empty {
  visibility: visible;
}

/**
 * Chartist graphs styles
 */
.ct-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.ct-series-a .ct-line {
	stroke: red;
	stroke-width: 1px;
}

.ct-series-a .ct-point {
	stroke: red;
	stroke-width: 1px;
}

.ct-series-b .ct-line {
  stroke: blue;
  stroke-width: 1px;
}

.ct-series-b .ct-point {
  stroke: blue;
  stroke-width: 1px;
}

.ct-series-c .ct-line {
  stroke: green;
  stroke-width: 1px;
}

.ct-series-c .ct-point {
  stroke: green;
  stroke-width: 1px;
}

.ct-series-d .ct-line {
  stroke: orange;
  stroke-width: 1px;
}

.ct-series-d .ct-point {
  stroke: orange;
  stroke-width: 1px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 43px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #3e3f3a;
    border-right: 1px solid #4e5d6c;
  }
}

.sidebar-li {
	color: #fff;
}
.sidebar-li:hover, .sidebar-li:focus {
	color: #000;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #000;
  background-color: #fff;
}

.underline {
  text-decoration: underline;
}
