<html ng-app="cmApp">
<head>
	<title>Simple Climate Model - UNSW CCRC</title>

	<!-- Google font (Raleway) -->
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Angular.js minified js library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Bootstrap's default js, otherwise dropdowns don't work -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- Angular UI for Bootstrap -->
	<script type="text/javascript" src="./js/ui-bootstrap-tpls-0.14.3.min.js"></script>

	<!-- Chartist.js minified CSS file -->
	<link rel="stylesheet" type="text/css" href="./css/chartist.min.css">
	<!-- Chartist.js minified js library -->
	<script type="text/javascript" src="./js/chartist.min.js"></script>

	<!-- Our sources -->
	<!-- Our custom CSS files -->
	<link rel="stylesheet" type="text/css" href="./css/app.css">
	<!-- Input data (ported from XLS) -->
	<script type="text/javascript" src="./js/app/data.js"></script>
	<!-- Function imports and definitions -->
	<script type="text/javascript" src="./js/app/functions.js"></script>
	<!-- Constants file -->
	<script type="text/javascript" src="./js/app/constants.js"></script>
	<!-- Custom charting functions -->
	<script type="text/javascript" src="./js/app/charting.js"></script>
	<!-- Model simulation function is in ./js/simulation.js, but is included by app.js -->

	<!-- Angular app code -->
	<script type="text/javascript" src="js/app/app.js"></script>
</head>
<body ng-controller="mainCtrl">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span> Simple Climate Model</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{{ standardActive }}" id="li-standard-mode"><a href="#" ng-click="changeMode('standard')">Standard</a></li>
					<li class="{{ advancedActive }}"><a href="#" ng-click="changeMode('advanced')">Advanced</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Report a bug</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Rest of the page -->
	<div class="container-fluid">
		<div class="row main-row">
			<!-- Sidebar -->
			<div class="col-md-2 col-lg-1 sidebar">
				<ul class="nav nav-sidebar">
					<!-- Show 'create scenario' button only if mode is advanced -->
					<li ng-if="advancedActive == 'active'"><a class="sidebar-li" href="#" ng-click="createScenario()"><span class="glyphicon glyphicon-plus"></span> Create Scenario</a></li>
					<li ng-repeat="scenario in scenarios" ng-class="scenario.active ? 'active' : ''">
						<a class="sidebar-li" href="#" ng-click="selectScenario(scenario.id)">{{ scenario.name }}</a>
					</li>
				</ul>
			</div>
			<!-- Main section -->
			<div class="col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1">
				<!-- Padding for navbar -->
				<div class="main-top-padding"></div>
				<!-- Actions/info section -->
				<div class="row">
					<div class="col-md-3">
						<div class="panel panel-success">
							<div class="panel-heading">Actions</div>
							<div class="panel-body">
								<button class="btn btn-primary btn-sm btn-wide" data-toggle="modal" data-target="#progress-modal" ng-click="runScenario()" ng-disabled="activeScenario == null"><span class="glyphicon glyphicon-play"></span> Run Scenario</button>
								<button class="btn btn-default btn-sm btn-wide" data-toggle="modal" data-target="#edit-globals-modal" ng-click="openEditGlobals()">Edit Global Variables</button>
								<button class="btn btn-default btn-sm btn-wide" ng-disabled="popupListLength == 0" ng-click="closeAllPopups()">Close Chart Windows</button>
								<button class="btn btn-default btn-sm btn-wide" ng-disabled="charts == null" ng-click="destroyCharts()">Clear This Page</button>
								<button class="btn btn-danger btn-sm btn-wide" ng-disabled="activeScenario == null || activeScenario.isdefault" data-toggle="modal" data-target="#confirmation-modal">Delete Scenario</button>
							</div>
						</div>
					</div>
					<div class="col-md-9 no-left-padding">
						<div class="panel panel-warning">
							<div class="panel-heading">Details</div>
							<div class="panel-body">
								<p>Scenario Name: {{ activeScenario.name }}</p>
								<p>Description: some description of the scenario</p>
								<p>Other info and details, etc...</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Row for charts -->
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-danger">
							<div class="panel-heading" id="main-heading">
								<button class="btn btn-xs btn-danger">Surface and Ocean Temperature</button>
								<button class="btn btn-sm btn-danger pull-right" ng-disabled="!chartsActive" ng-click="popupChart(true)" title="Open chart in new window"><i class="glyphicon glyphicon-share"></i></button>
							</div>
							<div class="panel-body" id="main-panel">
								<div class="ct-chart" ng-repeat="chart in mainCharts" id="{{ chart.id }}"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 no-left-padding">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="dropdown">
									<button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">{{ secondaryChartActive.name }} <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li ng-repeat="chart in secondaryCharts"><a href="#" ng-click="selectSecondaryChart(chart)">{{ chart.name }}</a></li>
									</ul>
								</span>
								<button class="btn btn-sm btn-info pull-right" ng-disabled="!chartsActive" ng-click="popupChart(false)" title="Open chart in new window"><i class="glyphicon glyphicon-share"></i></button>
							</div>
							<div class="panel-body" id="secondary-panel">
								<div class="ct-chart" ng-repeat="chart in secondaryCharts" id="{{ chart.id }}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress bar modal -->
	<div id="progress-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Running simulation...</h4>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-info" id="simulation-progress-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Update global variables modal -->
	<div class="modal fade" role="dialog" id="edit-globals-modal" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog edit-globals-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Global Variables</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning">
						Modification of global variables are <strong>not</strong> yet validated. If invalid values are saved, the simulation will crash. (Validation coming soon)
					</div>
					<div class="col-md-2" ng-repeat="col in globalVarCols">
						<form class="form-horizontal">
							<div ng-repeat="key in col">
								<label class="control-label">{{ key }}</label>
								<input type="text" class="form-control input-sm" value="{{ globalVariables[key] }}" ng-attr-id="{{ 'global-var-input-' + key }}" onkeypress="enableDefaultAndSaveButtons()">
							</div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div> <!-- Prevents the footer from being all mangled and squished in the corner -->
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-left" id="edit-globals-restore-defaults" ng-click="restoreDefaultGlobals()" ng-disabled="true">Restore Defaults</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeGlobals(true)" id="edit-globals-save" ng-disabled="true">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeGlobals(false)">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Confirmation modal -->
	<div id="confirmation-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="confirmation-title">Delete Scenario: {{ activeScenario.name }}</h4>
				</div>
				<div class="modal-body">
					<p id="confirmation-paragraph">Are you sure you wish to delete this custom scenario? All your work will be lost.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteScenario()">Delete Scenario</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Warning for browsers that don't support required functionality: Worker -->
	<div id="warning-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<p>It looks like you're using an outdated browser. Some elements of the Simple Climate Model may function incorrectly.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
