<html ng-app="cmApp">
<head>
	<title>Simple Climate Model - UNSW CCRC</title>

	<!-- Google font (Raleway) -->
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Angular.js minified js library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>
	<!-- Bootstrap and Angular for Bootstrap -->
	<script type="text/javascript" src="./js/ui-bootstrap-tpls-0.14.3.min.js"></script>

	<!-- Chartist.js minified CSS file -->
	<link rel="stylesheet" type="text/css" href="./css/chartist.min.css">
	<!-- Chartist.js minified js library -->
	<script type="text/javascript" src="./js/chartist.min.js"></script>

	<!-- Our sources -->
	<!-- Our custom CSS files -->
	<link rel="stylesheet" type="text/css" href="./css/app.css">
	<!-- Input data (ported from XLS) -->
	<script type="text/javascript" src="./js/app/data.js"></script>
	<!-- Function imports and definitions -->
	<script type="text/javascript" src="./js/app/functions.js"></script>
	<!-- Constants file -->
	<script type="text/javascript" src="./js/app/constants.js"></script>
	<!-- Model simulation function -->
	<script type="text/javascript" src="js/app/simulate.js"></script>

	<!-- Angular app code -->
	<script type="text/javascript" src="js/app/app.js"></script>
</head>
<body ng-controller="mainCtrl">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span> Simple Climate Model</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Standard</a></li>
					<li><a href="#">Advanced</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Report a bug</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Rest of the page -->
	<div class="container-fluid">
		<div class="row main-row">
			<!-- Sidebar -->
			<div class="col-md-2 col-lg-1 sidebar">
				<ul class="nav nav-sidebar">
					<li ng-repeat="scenario in scenarios" ng-class="isActive(scenario.active)">
						<a class="sidebar-li" href="#" ng-click="selectScenario(scenario.id)">{{ scenario.name }}</a>
					</li>
				</ul>
			</div>
			<!-- Main section -->
			<div class="col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1">
				<div class="row main-row-inner">
					<div class="col-md-6">
						<div class="panel panel-danger">
							<div class="panel-heading">
								Surface and Ocean Temperature <span class="pull-right" id="model-status-text"></span>
							</div>
							<div class="panel-body">
								<div class="ct-chart" id="chart-temperatures"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">CO2 Concentration</div>
							<div class="panel-body">
								<div class="ct-chart" id="chart-cco2"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="ct-chart" id="chart-emissions-co2"></div>
			</div>
		</div>
	</div>
</body>
</html>
