<!DOCTYPE html>
<html ng-app="cmApp">
<head>
	<title>Simple Climate Model - UNSW CCRC</title>

	<!-- Google font (Raleway) -->
	<link href="./css/raleway.css" rel="stylesheet" type="text/css">
	<!-- Hint.css tooltips -->
	<link href="./css/hint.min.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Angular.js minified js library -->
	<script src="./js/angular.js"></script>
	<script src="./js/angular-animate.js"></script>
	<script src="./js/angular-route.js"></script>
	<script src="./js/angular-sanitize.js"></script>
	<!-- jQuery -->
	<script src="./js/jquery.min.js"></script>
	<!-- Bootstrap's default js, otherwise dropdowns don't work -->
	<script src="./js/bootstrap.min.js"></script>
	<!-- Angular UI for Bootstrap -->
	<script src="./js/ui-bootstrap-tpls-0.14.3.min.js"></script>

	<!-- Chartist.js minified CSS file -->
	<link rel="stylesheet" type="text/css" href="./css/chartist.min.css">
	<!-- Chartist.js minified js library -->
	<script src="./js/chartist.min.js"></script>
	<!-- Chartist.js plugins -->
	<script src="./js/chartist-plugin-axistitle.min.js"></script>

	<!-- CSV parsing library -->
	<script src="./js/papaparse.min.js"></script>

	<!-- Bootstrap slider -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-slider.min.css">
	<script src="./js/bootstrap-slider.min.js"></script>

	<!-- Our sources -->
	<!-- Our custom CSS files -->
	<link rel="stylesheet" type="text/css" href="./css/app.css">
	<!-- Input data (ported from XLS) -->
	<script type="text/javascript" src="./js/app/data.js"></script>
	<!-- Function imports and definitions -->
	<script type="text/javascript" src="./js/app/functions.js"></script>
	<!-- Default scenario description text bodies -->
	<script type="text/javascript" src="./js/app/descriptions.js"></script>
	<!-- Constants file -->
	<script type="text/javascript" src="./js/app/constants.js"></script>
	<!-- Simulation main function -->
	<script type="text/javascript" src="./js/app/simulate.js"></script>
	<!-- Simulation setup -->
	<script type="text/javascript" src="./js/app/simsetup.js"></script>
	<script type="text/javascript" src="./js/app/simsetup2.js"></script>
	<!-- Custom charting functions -->
	<script type="text/javascript" src="./js/app/charting.js"></script>

	<!-- Angular app code -->
	<script type="text/javascript" src="js/app/app.js"></script>
</head>
<body ng-controller="mainCtrl">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span> Simple Climate Model</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{{ standardActive }} hint--bottom" data-hint="Standard mode contains all the default scenarios,&#10;which cannot be modified" id="li-standard-mode"><a href="#" ng-click="changeMode('standard')">Standard</a></li>
					<li class="{{ advancedActive }} hint--bottom" data-hint="Custom mode allows you to edit scenario input data,&#10;and also create new scenarios based off any of the&#10;default scenarios, or from a blank canvas"><a href="#" ng-click="changeMode('advanced')">Advanced</a></li>
					<li><a data-toggle="modal" data-target="#help-modal" class="no-outline" href="#">Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a data-toggle="modal" data-target="#about-modal" class="no-outline" href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Rest of the page -->
	<div class="container-fluid">
		<div class="row main-row">
			<!-- Sidebar -->
			<div class="col-md-2 col-lg-1 sidebar">
				<ul class="nav nav-sidebar">
					<!-- Show 'create scenario' button only if mode is advanced -->
					<!-- <li ng-if="advancedActive == 'active'"><button class="btn btn-default btn-sm btn-wide" href="#" data-toggle="modal" data-target="#create-scenario-modal" id="a-create-scenario" ng-click="clearNewScenario()"><span class="glyphicon glyphicon-plus"></span> Import Scenario</button></li> -->

					<li ng-show="advancedActive == 'active'" class="btn-wide no-margin-bottom">
						<span class="btn btn-default btn-file btn-sm btn-wide">
							<span class="glyphicon glyphicon-plus"></span> Import Scenario
							<input type="file" id="csvLoaderSidebar" />
						</span>
					</li>

					<li ng-repeat="scenario in scenarios" ng-class="scenario.active ? 'active' : ''">
						<a class="sidebar-li" href="#" ng-click="selectScenario(scenario.id)">{{ scenario.name }}</a>
					</li>
				</ul>
			</div>
			<!-- Main section -->
			<div class="col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1">
				<!-- Padding for navbar -->
				<div class="main-top-padding"></div>
				<!-- Actions/info section -->
				<div class="row">
					<div class="col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading">Actions</div>
							<div class="panel-body">
								<button class="btn btn-info btn-lg btn-wide hint--right" data-hint="Run the current scenario with the input datasets below" data-toggle="modal" data-target="#progress-modal" ng-click="runScenario()" ng-disabled="activeScenario == null" id="runScenarioButton"><span class="glyphicon glyphicon-play"></span> Run Scenario</button>

								<hr class="hr-sm" />

								<!-- <button class="btn btn-default btn-sm btn-wide hint--right" data-hint="{{ standardActive == 'active' ? 'Only enabled for custom scenarios' : 'Edit settings such as number of years, etc' }}" ng-disabled="inputCharts.length == 0 || standardActive == 'active'" ng-click="openEditScenarioSettings()" data-toggle="modal" data-target="#edit-custom-settings-modal">Edit Scenario Settings</button>
								<button class="btn btn-default btn-sm btn-wide hint--right" data-hint="{{ standardActive == 'active' ? 'Only enabled for custom scenarios' : 'Edit the data values on this scenario\'s input charts' }}" ng-disabled="inputCharts.length == 0 || standardActive == 'active'" data-toggle="modal" data-target="#edit-custom-inputs-modal" ng-click="openCustomInputEdits()">Edit Scenario Data</button> -->

								<button class="btn btn-warning btn-sm btn-wide hint--right" data-hint="Edit global variables which are shared by every scenario" data-toggle="modal" data-target="#edit-globals-modal" ng-click="openEditGlobals()">Edit Global Variables</button>

								<!-- <button class="btn btn-default btn-sm btn-wide" ng-disabled="popupListLength == 0" ng-click="closeAllPopups()">Close Chart Windows</button> -->
								<!-- <button class="btn btn-default btn-sm btn-wide" ng-disabled="outputCharts.length == 0" ng-click="destroyOutputCharts()">Clear Output Charts</button> -->

								<!-- <div class="hint--right btn-wide no-margin-bottom" data-hint="{{ standardActive == 'active' ? 'Only enabled for advanced scenarios' : 'Import new input data to this scenario' }}">
									<span class="btn btn-primary btn-file btn-sm btn-wide" ng-disabled="activeScenario == null || activeScenario.isdefault">
										Import From CSV &lt;&lt;
										<input type="file" id="csvLoader" ng-disabled="activeScenario == null || activeScenario.isdefault" />
									</span>
								</div> -->
								<button class="btn btn-primary btn-sm btn-wide hint--right" data-hint="Export this scenario's input and output data to a CSV file" ng-disabled="activeScenario === null" data-toggle="modal" data-target="#exportChooseModal">Export To CSV &gt;&gt;</button>

								<button class="btn btn-danger btn-sm btn-wide hint--right" data-hint="{{ standardActive == 'active' ? 'Cannot delete default scenarios' : 'Delete this scenario forever' }}" ng-disabled="activeScenario == null || activeScenario.isdefault" data-toggle="modal" data-target="#confirmation-modal">Delete Scenario</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 no-left-padding">
						<div class="panel panel-warning">
							<div class="panel-heading">Forcings
								<span class="pull-right"><button class="btn btn-warning btn-xs btn-in-heading hint--bottom" data-hint="Set the forcings to their defaults" ng-click="setForcingDefaults()">Set Defaults</button></span>
							</div>
							<div class="panel-body">
								<div class="col-xs-11 col-xs-offset-1">
									<div class="checkbox" ng-repeat="n in [ 1, 2, 3, 4, 5, 6 ]">
										<label>
											<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="forcings[getForcingVar(n)]"> {{ forcingsNames[n] }}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 no-left-padding">
						<div class="panel panel-default">
							<div class="panel-heading">Details</div>
							<div class="panel-body">
								<p><strong>Scenario Name:</strong> {{ activeScenario.name }}</p>
								<p><strong>Scenario Range:</strong> {{ getYearsRange() }}</p>
								<p ng-bind-html="getBriefDescription(activeScenario.id)"></p>
								<button class="btn btn-inverse" data-toggle="modal" data-target="#scenario-detail-modal">Full Description</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Row for charts -->
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-danger">
							<div class="panel-heading" id="main-heading">
								<span class="dropdown">
									<button class="btn btn-xs btn-danger dropdown-toggle" type="button" data-toggle="dropdown">{{ inputChartActive.name }} <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li ng-repeat="chart in inputChartInfos"><a href="#" ng-click="selectInputChart(chart)">{{ chart.name }}</a></li>
									</ul>
								</span>
								<!-- Open in new window button -->
								<button class="btn btn-sm btn-danger btn-in-heading pull-right hint--bottom" data-hint="Open chart in new window" ng-disabled="inputCharts.length == 0" ng-click="popupChart(true)"><i class="glyphicon glyphicon-share"></i></button>
								<!-- Open editing modal button -->
								<button class="btn btn-sm btn-danger btn-in-heading pull-right hint--bottom" data-hint="{{ standardActive == 'active' ? 'Only enabled for custom scenarios' : 'Edit the data values on this scenario\'s input charts' }}" ng-disabled="inputCharts.length == 0 || standardActive == 'active'" data-toggle="modal" data-target="#edit-custom-inputs-modal" ng-click="openCustomInputEdits()"><i class="glyphicon glyphicon-pencil"></i></button>
							</div>
							<div class="panel-body" id="main-panel">
								<div id="legend-box-input"></div>
								<div class="ct-chart" ng-repeat="chart in inputChartInfos" id="{{ chart.id }}" ng-show="isInputChartForcingEnabled(chart.id)"></div>
								<div class="ct-chart" id="chart-empty" ng-show="!isInputChartForcingEnabled(inputChartActive.id)"></div>
								<!-- This last one is the base chart for inputs, and is never visible -->
								<div class="ct-chart" id="base-chart-never-shown" ng-show="activeScenario != null"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 no-left-padding">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="dropdown">
									<button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">{{ outputChartActive.name }} <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li ng-repeat="chart in outputChartInfos"><a href="#" ng-click="selectOutputChart(chart)">{{ chart.name }}</a></li>
									</ul>
								</span>
								<button class="btn btn-sm btn-info btn-in-heading pull-right hint--bottom-left" data-hint="Open chart in new window" ng-disabled="outputCharts.length == 0" ng-click="popupChart(false)"><i class="glyphicon glyphicon-share"></i></button>
							</div>
							<div class="panel-body" id="secondary-panel">
								<div id="legend-box-output">
									<div ng-if="scenarioHasRun && outputChartActive.legend != undefined">
										<p ng-repeat="(key, value) in outputChartActive.legend">
											<span style="color: {{ key }}"><i class="glyphicon glyphicon-stop"></i> {{ value }}</span>
										</p>
									</div>
								</div>
								<div class="ct-chart" ng-repeat="chart in outputChartInfos" id="{{ chart.id }}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress bar modal -->
	<div id="progress-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Running simulation...</h4>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-info" id="simulation-progress-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Update global variables modal -->
	<div class="modal fade" role="dialog" id="edit-globals-modal" data-backdrop="static">
		<div class="modal-dialog edit-globals-modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Global Variables</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning">
						Modification of global variables are <strong>not</strong> yet validated. If invalid values are saved, the simulation will crash. (Validation coming soon)
					</div>
					<div class="col-md-2" ng-repeat="col in globalVarCols">
						<form class="form-horizontal">
							<div ng-repeat="key in col">
								<label class="control-label">
									{{ key }}
									<span ng-show="globalsHasJustImported && globalsJustImported[key]" class="hint--right" data-hint="successfully imported"><i class="glyphicon glyphicon-ok-sign span-success"></i></span>
									<span ng-show="globalsHasJustImported && !globalsJustImported[key]" class="hint--right" data-hint="not found/modified"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i></span>
								</label>
								<input type="text" class="form-control input-sm" value="{{ globalVariables[key] }}" ng-attr-id="{{ 'global-var-input-' + key }}" onkeydown="enableDefaultAndSaveButtons()">
							</div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div> <!-- Prevents the footer from being all mangled and squished in the corner -->
				<div class="modal-footer">
					<button type="button" class="btn btn-warning pull-left" id="edit-globals-restore-defaults" ng-click="restoreDefaultGlobals()">Restore Defaults</button>
					<button type="button" class="btn btn-primary pull-left small-margin-right" ng-class="{ 'hint--bottom': globalsHasJustImported }" data-hint="{{ globalsHasJustImported ? 'Save globals first before exporting' : '' }}" id="exportGlobalsButton" ng-click="exportGlobals()" ng-disabled="globalsHasJustImported">Export to CSV</button>

					<span class="no-margin-bottom pull-left">
						<span class="btn btn-primary btn-file">
							Import from CSV
							<input type="file" id="globalsLoader" />
						</span>
					</span>

					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeGlobals(true)" id="edit-globals-save" ng-disabled="true">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeGlobals(false)">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Confirmation modal -->
	<div id="confirmation-modal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="confirmation-title">Delete Scenario: {{ activeScenario.name }}</h4>
				</div>
				<div class="modal-body">
					Are you sure you wish to delete this custom scenario? All your work will be lost.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteScenario()">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Create scenario modal -->
	<div id="import-scenario-modal" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="confirmation-title">Create Custom Scenario</h4>
				</div>
				<div class="modal-body">
					<div class="col-xs-10 col-xs-offset-1">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="control-label">Scenario Name <span class="span-error" ng-if="scenarioNameTaken()">already in use</span></label>
								<input type="text" class="form-control input-sm" ng-model="createScenarioName">
							</div>
							<div class="form-group">
								<label for="new-scenario-desc">Description</label>
								<textarea class="form-control" rows="5" class="textarea-no-resize" id="new-scenario-desc" ng-model="createScenarioDesc"></textarea>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<td colspan="2"><strong>Imported Fields:</strong></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Years</td>
										<td ng-show="importScenario.years">{{ round(importScenario.years[0]) }} - {{ round(importScenario.years[importScenario.years.length - 1]) }}</td>
										<td ng-show="!importScenario.years" class="span-error"><i class="glyphicon glyphicon-exclamation-sign"></i> Not found - invalid import file</td>
									</tr>
									<tr>
										<td>CH4</td>
										<td ng-show="importScenario.emissions.CH4"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.emissions.CH4"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
									<tr>
										<td>CO2</td>
										<td ng-show="importScenario.emissions.CO2"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.emissions.CO2"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
									<tr>
										<td>SO2</td>
										<td ng-show="importScenario.emissions.SO2"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.emissions.SO2"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
									<tr>
										<td>Volcanic</td>
										<td ng-show="importScenario.emissions.volc"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.emissions.volc"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
									<tr>
										<td>TSI</td>
										<td ng-show="importScenario.TSI"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.TSI"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
									<tr>
										<td>Albedo</td>
										<td ng-show="importScenario.alb"><i class="glyphicon glyphicon-ok-sign span-success"></i> Imported</td>
										<td ng-show="!importScenario.alb"><i class="glyphicon glyphicon-exclamation-sign span-highlight"></i> Not found (using empty values)</td>
									</tr>
								<tbody>
							</table>
						</form>
					</div>
				</div>
				<div class="clearfix padding-20px"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="closeImportScenarioModal();createScenario()" ng-disabled="!importScenarioButtonEnabled()">Import</button>
					<button type="button" class="btn btn-danger" ng-click="closeImportScenarioModal()">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Export scenario modal, select between inputs and outputs -->
	<div id="exportChooseModal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Export scenario to CSV</h4>
				</div>
				<div class="modal-body">
					<button class="btn btn-lg btn-primary" ng-click="exportScenarioData()">Export Input Data</button>
					<button class="btn btn-lg btn-primary" ng-class="{ 'hint--right': !scenarioHasRun }" data-hint="Must run the scenario before exporting output data" ng-disabled="!scenarioHasRun" ng-click="exportOutputData()">Export Output Data</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Detailed scenario information modal -->
	<div id="scenario-detail-modal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Scenario: {{ activeScenario.name }} - Detailed Information</h4>
				</div>
				<div class="modal-body">
					<p class="text-justify" ng-bind-html="descriptions[activeScenario.id]"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Help modal -->
	<div id="help-modal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Help &amp; Explanations</h4>
				</div>
				<div class="modal-body">
					<help-page></help-page>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- About modal -->
	<div id="about-modal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">About This Model</h4>
				</div>
				<div class="modal-body">
					<about-page></about-page>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Warning for browsers that don't support required functionality: Worker -->
	<div id="warning-modal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<p>It looks like you're using an outdated browser. Unexpected behaviour may occur - consider updating your browser.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
